html {
    font-size: 10px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}


h1 {
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
    font-size: 13rem;
    font-weight: bold;
    margin: 2rem 0;
    letter-spacing: -1px;
    color: black;
    cursor: default;
}

@font-face {
    font-family: 'cursive';
	src: url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lato&family=Noto+Sans+Mono&family=Space+Mono:ital@1&display=swap") rel="stylesheet";
}

.photoGrid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;

}

.photo {
    width: calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}


.button-container {
    display: flex;
    justify-content: center;
}

button {
    flex-basis: 48%;
    color: red;
    font-size: 15px;
    border: 2px solid #f2f2f2;
    line-height: 2;
    padding: 5px;
}

.addIcon {
    margin: 20px auto;
    display: table;
    padding: 40px;
    /* background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat; */
    background-size: contain;
    border: none;
}

.form  {
    background: white;
    margin: 0 auto;
    max-width: 360px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background: #f2f2f2;
    width: 100%;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;   
    margin: 0 0 15px;
    outline: none;

}

.form button {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-transform: uppercase;
    background: #065784;
    width: 20%;
    float: right;
    border: none;
    padding: 2px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.nav-home{
    width: 20%;
    padding: 2px;
    float: left;
    cursor: pointer;
    color: #065784;
}
.nav-home:hover{
    color: #7B8589;
}
.form button:hover {
    background: #7B8589;
}

button:hover {
    border-color: blue;
}

